body {
    background-image: url(../images/us.jpg);
    background-size: cover;
}

.container {
    background-color: white;
    opacity: 0.65;
    margin: 20px auto;
    width: 60%;
    height: 100%;
    padding: 10px 20px;
}

h1, h4, #refresh {
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
}


#questionArea {
    text-align: center;
    color: blue;
}


#start, #submit {
    padding: 10px;
    margin: 10px 45%;
    font-size: 25px; 
}

#reset {
    width: 30%;
    margin: 10px 35%;
    font-size: 25px;
    padding: 10px;
}

#start,#submit,#reset:hover{
    background-color: #3e8e41;
}


#start,#submit,#reset:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#timer {
    text-align: center;
    color: #a21b1b;
    border: 1px solid black;
}

.question{
    font-family: 'Fredericka the Great', cursive;
    color: black;
    opacity: 100%;
    font-size: 18px;
}



