body {
    background-image: url(../images/us.jpg);
    background-size: cover;
}

.container {
    background-color: white;
    opacity: 0.6;
    margin: 20px auto;
    width: 60%;
    height: 100%;
    padding: 10px 20px;
}

h1 {
    text-align: center;
}

#questionArea {
    text-align: center;
    color: blue;
}


#start, #submit, #reset {
    padding: 10px;
    color: green;
    margin: 10px 45%;
    
}

#timer {
    text-align: center;
    color: #a21b1b;
    border: 1px solid black;
    


}

